<a href="https://colab.research.google.com/github/rOluochKe/learning-ds-ml/blob/main/Learning_DS_and_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter One:** Environment Setup

In [ ]:
import tensorflow as tf
print(tf.__version__)

2.12.0

**Chapter Two:** Python Crash Course

In [ ]:
### Variables and data types
first_name = "Joseph"
print(type(first_name))

age = 35
print(type(age))

weight = 75.04
print(type(weight))

married = False
print(type(married))

cars = ["audi", "benz", "jeep"]
print(type(cars))

days = ("Mon", "Tue", "Wed", "Thurs", "Fri")
print(type(days))

shopping_items = {1: "bread", 2: "milk", 3: "sugar"}
print(type(shopping_items))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
### Arithetic operators
x = 20
y = 15
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)

35
5
300
1.3333333333333333
5
32768000000000000000

In [ ]:
### Logical operators
### AND, and, OR, or, NOT, not
# (a and b) = False, (a and a) = True
# (a or b) = True
# not(a and b) = True

X = True
Y = False
print(X and Y)
print(X or Y)
print(not(X and Y))

False
True
True

In [ ]:
### Comparison operators
X = 20
Y = 35
print(X == Y)
print(X != Y)
print(X > Y)
print(X < Y)
print(X >= Y)
print(X <= Y)

False
True
False
True
False
True

In [ ]:
### Assignment Operators
# Assignment =
# Divide and assign /=
# Take modulus and assign %=
# Take exponent and assign
X = 20; Y = 10
R = X + Y
print (R)

X = 20;
Y = 10
X += Y
print (X)

X = 20;
Y = 10
X -= Y
print (X)

X = 20;
Y = 10
X *= Y
print (X)

X = 20;
Y = 10
X /= Y
print (X)

X = 20;
Y = 10
X %= Y
print (X)

X = 20;
Y = 10
X **= Y
print (X)

30
30
10
200
2.0
0
10240000000000

In [ ]:
### Membership operator
# in operator
# not in operator

days = ("Sunday" , "Monday" , "Tuesday" , "Wednesday" , "Thursday" , "Friday" , "Saturday")
print ("Sunday" in days)

print ("Xunday" not in days)

True
True

In [ ]:
### Conditional statements
if 10 > 5:
  print("Ten is greater than 10")

if 5 > 10:
  print("5 is greater than 10")
else:
  print("10 is greater than 5")

if 5 > 10:
  print("5 is greater than 10")
elif 8 < 4:
  print("8 is smaller than 4")
else:
  print("5 is not greater than 10 and 8 is not smaller than 4")

Ten is greater than 10
10 is greater than 5
5 is not greater than 10 and 8 is not smaller than 4

In [ ]:
### Iteration statements
print("for loop")
items = range(5)
for item in items:
  print(item)
print("while loop")
c = 0
while c < 10:
  print(c)
  c = c +1

for loop
0
1
2
3
4
while loop
0
1
2
3
4
5
6
7
8
9

In [ ]:
### Functions
def myfuncparam(num):
  print('This is a function with parameter value: ' + num)

### function call
myfuncparam('Parameter 1')

This is a function with parameter value: Parameter 1

In [ ]:
### Objects and Classes
class Fruit:
  name = "apple"
  price = 10

  def eat_fruit(self):
    print("Fruit has been eaten")

f = Fruit()
f.eat_fruit()
print(f.name)
print(f.price)

### Contructor
print('constructor ===============')
class Fruit:
  name = "apple"
  price = 10

  def __init__(self, fruit_name, fruit_price):
    Fruit.name = fruit_name
    Fruit.price = fruit_price

  def eat_fruit(self):
    print("Fruit has been eaten")

f = Fruit("orange", 15)
f.eat_fruit()
print(f.name)
print(f.price)

Fruit has been eaten
apple
10
constructor ===============
Fruit has been eaten
orange
15

* NumPy: is one of the most commonly used libraries for numeric and scientific computing.
* Matplotlib: is the de facto standard for static data visualization in Python, which is the first step in data science and machine learning.
* Seaborn: library is built on top of the Matplotlib library and contains all the plotting capabilities of Matplotlib. However, with Seaborn, you can plot much more pleasing and aesthetic graphs with the help of Seaborn default styles and color palettes.
* Pandas: like Seaborn, is based on the Matplotlib library and offers utilities that can be used to plot different types of static plots in a single line of codes. With Pandas, you can import data in various formats such as CSV (Comma Separated View) and TSV (Tab Separated View) and can plot a variety of data visualizations
via these data sources.
* Scikit Learn, also called sklearn: is an extremely useful library for data science and machine learning in Python. Sklearn contains many built-in modules that can be used to perform data preparation tasks such as feature engineering, feature scaling, outlier detection, discretization, etc.
* TensorFlow: is one of the most frequently used libraries for deep learning. TensorFlow has been developed by Google and offers an easy to use API for the development of various deep learning models.
* Keras: is a high-level TensorFlow library that implements complex TensorFlow functionalities under the hood. If you are a newbie to deep learning, Keras is the one deep learning library that you should start for developing deep learning library.Keras is a high-level TensorFlow library that implements complex TensorFlow functionalities under the hood. If you are a newbie to deep learning, Keras is the one deep learning library that you should start for developing deep learning library.

**Chapter Three:** NumPy Library for Data Analysis